<div class="album py-5 bg-light">
    <div class="container">
        <h2>Our brands</h2>
        <hr>
        <div class="row g-3"> <!-- Set the grid layout with 2 columns per row -->
            <div class="col-6 col-md-4 col-lg-3"> <!-- Adjusted column size for smaller cards -->
                <div class="card shadow-sm" style="max-width: 250px; margin: 0 auto;"> <!-- Set max width for smaller cards -->
                   <a><img src="{{brandImages[0]}}" alt="Brand 1" class="card-img-top w-100 h-auto"></a> 
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card shadow-sm" style="max-width: 250px; margin: 0 auto;">
                   <a><img src="{{brandImages[1]}}" alt="Brand 2" class="card-img-top w-100 h-auto"></a> 
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card shadow-sm" style="max-width: 250px; margin: 0 auto;">
                   <a><img src="{{brandImages[2]}}" alt="Brand 3" class="card-img-top w-100 h-auto"></a> 
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card shadow-sm" style="max-width: 250px; margin: 0 auto;">
                   <a><img src="{{brandImages[3]}}" alt="Brand 4" class="card-img-top w-100 h-auto"></a> 
                </div>
            </div>
        </div>
    </div>
</div>
