<section class="main-content d-flex justify-content-center ">
    <div class="container d-flex flex-column justify-content-around">
      <h1>Mercedes-Benz C-Class</h1>
      <button type="button">More</button>
    </div>
    <div class="img">
      <img src="http://localhost:5151/images/cars/9.jpg" alt="Mercedes-Benz C-Class" class="car-image">
    </div>
  </section>

  <!-- Footer Navigation -->
  <div class="container footer-nav">
    <a href="#">Discover</a>
    <a href="#">Shopping</a>
    <a href="#">All About Cars</a>
  </div>