body {
    background-color: white;
  }
  .car-image {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
  }
  
  .img {
    width: 100%;
  }
  
  .main-content {
    text-align: center;
    padding: 60px 10px; /* Adjust padding for smaller screens */
  }
  
  .main-content h1 {
    font-size: 2rem; /* Base font size */
    margin-bottom: 20px;
    color: #000d19;
    font-weight: 700;
  }
  
  .main-content button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    align-self: center;
    max-width: 200px; /* Set a maximum width for the button */
    width: 100%; /* Make it responsive */
  }
  
  .footer-nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column; /* Stack items on smaller screens */
    align-items: center; /* Center items */
  }
  
  .footer-nav a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0; /* Add some spacing between links */
  }
  
  .footer-nav a:hover {
    color: gray;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Responsive Media Queries */
  @media (min-width: 768px) {
    .footer-nav {
      flex-direction: row; /* Align items in a row for medium screens and larger */
      justify-content: space-between; /* Space between items */
    }
  }
  
  @media (min-width: 992px) {
    .car-image-container {
      max-width: 70%; /* Larger image size on wider screens */
    }
  }
  
  @media (min-width: 1200px) {
    .car-image-container {
      max-width: 60%; /* Even larger on extra-large screens */
    }
  }
  