.card {
    display: flex;
    flex-direction: column;
    height: 100%; // Makes sure the card fills the column's height

    img {
      object-fit: cover; // Cover the entire image area without distortion
      height: 200px; // Fixed height for images to keep all cards uniform
      width: 100%; // Full width of the card
    }
  
    .card-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1; // Allow the body to grow and fill remaining space
      justify-content: space-between; // Ensures description and other elements (like price) are spaced well
    }
  
    .card-text {
      margin-bottom: 0; // Remove bottom margin to align all card texts
    }

    // .details-button{
    //   background-color: #1F487E;
    //   display: flex;
    //   justify-content: center;
    //   padding: 10px 10px;
    //   width: 70%;
    //   color: #fff;
    //   border-radius: 0 0 8px 8px;
    //   text-align: center;
    //   margin: 0 auto;
    // }




.details-button {
  background-image: linear-gradient(#42A1EC, #0070C9);
  width: 60%;
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 15px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 10px;
}

.details-button:disabled {
  cursor: default;
  opacity: .3;
}

.details-button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.details-button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.details-button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
  
}
  