<div class="container my-5">
  <div class="row">
    <section class="col-3 my-3">
      <h5 class="text-warning ms-3">Sort</h5>
      <select class="form-select mb-4" (change)="onSortSelected($event)">
        <option value="" disabled selected>Select Sort Option</option>
        <option [value]="option.value" *ngFor="let option of sortedOptions">
          {{ option.name }}
        </option>
      </select>

      <h5 class="text-warning ms-3">Filters</h5>
      <div class="mb-3">
        <label for="make" class="form-label">Make</label>
        <select class="form-select" id="make" [(ngModel)]="carparams.makeId" (change)="getCars()">
          <option value="" disabled selected>Select Make</option>
          <option *ngFor="let make of FilterOptions.makes" [value]="make.id">{{ make.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.modelId" (change)="getCars()">
          <option value="" disabled selected>Select Model</option>
          <option *ngFor="let model of FilterOptions.models" [value]="model.id" >{{ model.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Colors</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.color" (change)="getCars()">
          <option value="" disabled selected>Select Color</option>
          <option *ngFor="let color of FilterOptions.colors" [value]="color">{{ color }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Fuel Types</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.fuel" (change)="getCars()">
          <option value="" disabled selected>Select FuelTypes</option>
          <option *ngFor="let fuel of FilterOptions.fuelTypes" [value]="fuel">{{ fuel }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Model Variants</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.fuel" (change)="getCars()">
          <option value="" disabled selected>Select ModelVariants</option>
          <option *ngFor="let modelVariant of FilterOptions.modelVariants" [value]="modelVariant">{{ modelVariant }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Car Conditions</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.carCondition" (change)="getCars()">
          <option value="" disabled selected>Select CarConditions</option>
          <option *ngFor="let carCondition of FilterOptions.carConditions" [value]="carCondition">{{ carCondition }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Transmissions</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.transmission" (change)="getCars()">
          <option value="" disabled selected>Select Transmissions</option>
          <option *ngFor="let transmission of FilterOptions.transmissions" [value]="transmission">{{ transmission }}</option>
        </select>
      </div>

      
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-end align-items-center pb-2">
        <div class="d-flex mt-2 ">
          <input type="text" 
                 (keyup)="onSearch()" 
                 placeholder="Search" 
                 class="form-control me-2" 
                 #search>
          <button class="btn btn-outline-primary mx-2" 
                  (click)="onSearch()">Search
          </button>
          <button class="btn btn-outline-success" 
                  (click)="resetFilters()">Reset 
          </button>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-4">
        <div class="col" *ngFor="let item of carlist">
          <div class="card h-100">
            <img [src]="item.imagePath" 
                 class="card-img-top" 
                 alt="Car Image">
            <div class="card-body d-flex flex-column">
              <p class="card-text flex-grow-1">{{ item.description }}</p>
              <p class="card-text text-muted">{{ item.price | currency }}</p>
              <p class="card-text text-muted">{{ item.name }}</p>
              
            </div>
            <button class="btn btn-warning"   [routerLink]="['/details', item.id]">Details</button>
          </div>
        </div>
      </div>

      <pagination class="d-flex justify-content-center mt-3"
                  [itemsPerPage]="carparams._pageSize"
                  [(ngModel)]="carparams.PageIndex"  
                  [totalItems]="totalcount"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </section>
  </div>
</div>