<div class="container my-5">
  <div class="row">
    <section class="col-3 my-3">
      <h5>Sort</h5>
      <select class="form-select mb-4" (change)="onSortSelected($event)">
        <option value="" disabled selected>Select Sort Option</option>
        <option [value]="option.value" *ngFor="let option of sortedOptions">
          {{ option.name }}
        </option>
      </select>

      <h5>Filters</h5>
      <div class="mb-3">
        <label for="make" class="form-label">Make</label>
        <select class="form-select" id="make" [(ngModel)]="carparams.makeId" (change)="getCars()">
          <option value="" disabled selected>Select Make</option>
          <option *ngFor="let make of FilterOptions.makes" [value]="make.id">{{ make.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <select class="form-select" id="model" [(ngModel)]="carparams.modelId" (change)="getCars()">
          <option value="" disabled selected>Select Model</option>
          <option *ngFor="let model of FilterOptions.models" [value]="model.id" >{{ model.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Colors</label>
        <select class="form-select" id="Colors" [(ngModel)]="carparams.color" (change)="getCars()">
          <option value="" disabled selected>Select Color</option>
          <option *ngFor="let color of FilterOptions.colors" [value]="color">{{ color }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Fuel Types</label>
        <select class="form-select" id="Fuel Types" [(ngModel)]="carparams.fuel" (change)="getCars()">
          <option value="" disabled selected>Select FuelTypes</option>
          <option *ngFor="let fuel of FilterOptions.fuelTypes" [value]="fuel">{{ fuel }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Model Variants</label>
        <select class="form-select" id="Model Variants" [(ngModel)]="carparams.fuel" (change)="getCars()">
          <option value="" disabled selected>Select ModelVariants</option>
          <option *ngFor="let modelVariant of FilterOptions.modelVariants" [value]="modelVariant">{{ modelVariant }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Car Conditions</label>
        <select class="form-select" id="Car Conditions" [(ngModel)]="carparams.carCondition" (change)="getCars()">
          <option value="" disabled selected >Select Car Conditions</option>
          <option *ngFor="let carCondition of FilterOptions.carConditions" [value]="carCondition">{{ carCondition }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="model" class="form-label">Transmissions</label>
        <select class="form-select" id="Transmissions" [(ngModel)]="carparams.transmission" (change)="getCars()">
          <option value="" disabled selected >Select Transmissions</option>
          <option *ngFor="let transmission of FilterOptions.transmissions" [value]="transmission">{{ transmission }}</option>
        </select>
      </div>

      
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-end align-items-center pb-2">
        <div class="d-flex mt-2 ">
          <input type="text" 
                 (keyup)="onSearch()" 
                 placeholder="Search" 
                 class="form-control me-2 flex-grow-1" 
                 #search>
          <button class="btn btn-outline-primary mx-2" 
                  (click)="onSearch()">Search
          </button>
          <button class="btn btn-outline-success" 
                  (click)="resetFilters()">Reset 
          </button>
        </div>
      </div>

      <!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-4">
        <div class="col" *ngFor="let item of carlist">
          <div class="card h-100">
            <img [src]="item.imagePath" 
                 class="card-img-top" 
                 alt="Car Image">
            <div class="card-body d-flex flex-column">
              <p class="card-text fw-bold">{{ item.name }}</p>
              <span *ngIf="item?.description;">
                {{ item.description }}
              </span>
              <p class="card-text  fw-medium">{{ item.price | currency }}</p>
              
              
            </div>
            <button class="btn details-button "   [routerLink]="['/details', item.id]">Details</button>
          </div>
        </div>
      </div> -->

      <div class="row g-4">
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of carlist">
            <div class="blog-item">
                <div class="blog-img">
                    <img [src]="item.imagePath" class="img-fluid rounded-top w-100" alt="Image">
                </div>
                <div class="blog-content rounded-bottom p-4">
                  <h4 class="">{{ item.name }}</h4>       
                  <h4 class=" py-2 px-4 mb-2" style="color: #FF6500;">{{ item.price | currency }}</h4> 
                  <div class="row gy-2 gx-0 text-center mb-4">
                    <div class="col-6 d-flex flex-column border-end border-white">
                        <i class="fa fa-car " ></i>
                        <span class="text-body ms-1">{{ item.transmission }}</span>
                    </div>
                    <div class="col-6 d-flex flex-column border-end border-white">
                      <i class="fa-solid fa-gas-pump text-dark" ></i>
                      <span class="text-body ms-1">{{ item.fuel }}</span>
                    </div>
                
                    <div class="col-6 d-flex flex-column border-end border-white ">
                        <i class="fa fa-car " ></i>
                        <span class="text-body ms-1">{{ item.manufactureYear }}</span>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <i class="fa fa-road " ></i>
                        <span class="text-body ms-1">{{ item.mileage }} K</span>
                    </div>
                </div>
                  <button class="btn details-button "   [routerLink]="['/details', item.id]">Details</button>
                </div>
            </div>
        </div>
      </div>



      <!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 my-4">
        <div class="categories-item p-4" *ngFor="let item of carlist">
            <div class="categories-item-inner">
                <div class="categories-img rounded-top overflow-hidden">
                    <img [src]="item.imagePath" class="img-fluid w-100 rounded-top" alt="{{ item.name }}">
                </div>
                <div class="categories-content rounded-bottom p-4">
                    <h4 class="">{{ item.name }}</h4>        
                    <div class="mb-4">
                        <h4 class="bg-white text-primary rounded-pill py-2 px-4 mb-0">{{ item.price | currency }}</h4>
                    </div>
                    
                    <div class="row gy-2 gx-0 text-center mb-4">
                        <div class="col-4 border-end border-white">
                            <i class="fa fa-car text-dark"></i>
                            <span class="text-body ms-1">{{ item.transmission }}</span>
                        </div>
                        <div class="col-4 border-end border-white">
                            <i class="fa fa-gas text-dark"></i>
                            <span class="text-body ms-1">{{ item.fuel }}</span>
                        </div>
                        <div class="col-4 border-end border-white">
                            <i class="fa-solid fa-calendar-alt text-dark"></i>
                            <span class="text-body ms-1">{{ item.manufactureYear }}</span>
                        </div>
                        <div class="col-4">
                            <i class="fa-solid fa-road text-dark"></i>
                            <span class="text-body ms-1">{{ item.mileage }}</span>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary details-button w-100" [routerLink]="['/details', item.id]">View Details</button>
                </div>
            </div>
        </div>
    </div> -->
    

      <pagination class="d-flex justify-content-center mt-3"
                  [itemsPerPage]="carparams._pageSize"
                  [(ngModel)]="carparams.PageIndex"  
                  [totalItems]="totalcount"
                  (pageChanged)="pageChanged($event)">
      </pagination>
    </section>
  </div>
</div>