



<div class="container p-5">
    <div class="container my-2 text-end">
        <button class="btn btn-primary" routerLink="/enquiry">Get In Touch</button>
    </div>
    <h1>About Us</h1>
    <p>
      Welcome to CarHub, your ultimate destination for all things automotive. 
      Our mission is to connect car enthusiasts, buyers, and sellers while 
      providing valuable resources for car maintenance and ownership.
    </p>
    
    <h2>Our Story</h2>
    <p>
      Founded in 2024, CarHub has grown from a small community of car lovers 
      to a comprehensive platform for car transactions and information. We believe 
      in the power of community and strive to create a safe and informative space 
      for our users.
    </p>
  
    <h2>What We Offer</h2>
    <ul>
      <li>Buy and sell cars with ease.</li>
      <li>Access a wealth of automotive resources and guides.</li>
      <li>Engage with a community of car enthusiasts.</li>
      <li>Stay updated with the latest trends and news in the automotive world.</li>
    </ul>
  
    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions, feel free to reach out to us at <a href="mailto:@mhmdali23101@gmail.com"> Contact</a>.</p>
  </div>
  