<header>
  <nav class=" navbar navbar-expand-lg custom-nav">
    <div class="container .sticky-top">
      <a class="navbar-brand text-white " href="#">
        <img class="img" src="/Images/logo5.png" alt="logo"  routerLink="/">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white fw-medium active"  routerLinkActive="active"  aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-medium" routerLinkActive="active" routerLink="/car" tabindex="-1">Cars</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link text-white fw-medium" routerLinkActive="active" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-medium" routerLinkActive="active" routerLink="/contactus" tabindex="-1">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-medium" routerLinkActive="active" routerLink="/dashboard/reports" tabindex="-1">Dashboard</a>
          </li>
          <ng-container *ngIf="(accountService.currentUser | async ) == null">
            <li class="nav-item staff-link">
              <a class="nav-link text-white fw-medium text-white fw-medium  " routerLinkActive="active" routerLink="login" >Staff </a>
            </li>
          </ng-container>
          <ng-container *ngIf="(accountService.currentUser | async ) as User">
         
            <li class="nav-item staff-link"> <a class="nav-link text-white fw-medium ">Welcome, {{User.displayName}} </a></li>
          <li class="nav-item  "> <a (click)="accountService.logout()" class="nav-link text-white fw-medium ">Log out</a></li>
           
          
          </ng-container>
       
        </ul>
      </div>
    </div>
  </nav>
</header>
