<div class="contact-us-container">
    <h2>Contact Us</h2>
    <p>If you have any questions, feel free to reach out to us!</p>
    
    <h4>Contact Information:</h4>
    <ul>
      <li><strong>Email:</strong><a href="mailto:@mhmdali23101@gmail.com"> Contact</a></li>
      <li><strong>Phone:</strong> +1 (555) 123-4567</li>
      <li><strong>Address:</strong> 123 CarHub St, Automotown, CA 90210</li>
    </ul>
  
    <h4>Follow Us:</h4>
    <ul>
      <li><a href="https://facebook.com/carhub" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/carhub" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com/carhub" target="_blank">Instagram</a></li>
    </ul>
  </div>
  