body{color: #000;overflow-x: hidden;height: 100%;background-image: url("https://i.imgur.com/GMmCQHC.png");background-repeat: no-repeat;background-size: 100% 100%}
.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}
.blue-text{color: #00BCD4}
.form-control-label{margin-bottom: 0}
input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}
input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}
.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}
.btn-block:hover{color: #fff !important}
button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}

.Request-btn{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
    
}

.inqueries-box{
    padding-top: 35px;
    padding-left: 35px;
    background-color: #e6f2f7;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.credit-container{

  height: 100vh;

 }

.credit-container .card{
    border: none;
   }

.credit-container second-card {
    width: 70%;

}
.credit-container second-card card-header{
    background-color: white !important;

   }
.credit-container card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: none;
}

.credit-container btn-light:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
}


.credit-container .form-control{

    height: 50px !important;
    border: 2px solid #eee  !important;
    border-radius: 6px  !important;
    font-size: 14px  !important;
  }

.credit-container .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #039be5;
    outline: 0;
    box-shadow: none;

}

.credit-container .input{

  position: relative  !important;
}

.credit-container .input i{

    position: absolute  !important;
    top: 16px  !important;
    left: 11px  !important;
    color: #989898  !important;
}

.credit-container .input input{

  text-indent: 25px  !important;
}

.credit-container .card-text{

  font-size: 13px;
  margin-left: 6px;
}

.credit-container .certificate-text{

  font-size: 12px;
}

 
.credit-container .billing{
  font-size: 11px;
}  

.credit-container .super-price{

    top: 0px;
    font-size: 22px;
}

.credit-container .super-month{

    font-size: 11px;
}


.credit-container .line{
  color: #bfbdbd;
}

.credit-container .free-button{

    background: #1565c0;
    height: 52px;
    font-size: 15px;
    border-radius: 8px;
}


.credit-container .payment-card-body{

  flex: 1 1 auto;
  padding: 20px 1rem !important;

}

.car-details{
    width: 100%;
}

.stripe-input {
    padding-left: 40px; 
    padding-top: 12px;/* Push input content to the right to avoid overlap */
    width: 100%;
  }
  
  
.transmission-text {
    white-space: nowrap !important;        /* Prevents wrapping */
    overflow: hidden !important;           /* Hides overflow */
    text-overflow: ellipsis !important;    /* Adds ellipsis for overflowed text */
}