<div class="parallax-content">
    <div class="section-xxl fullwidth-page fullwidth-page_mod-1 bg-overlay-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5 col-xl-4">
            <h1>A Better Ride With Your Dream Vehicle</h1>
            <a class="button button-primary " routerLink="/car">Getting Started</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid feature py-5">
  <div class="container py-5">
      <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
          <h1 class="display-5 text-capitalize mb-3">CarHub <span  style="color:#00476d">Features</span></h1>
          <p class="mb-0">
            At CarHub, we provide a range of premium features 
            designed to make your car rental and reservation experience seamless and convenient
          </p>
      </div>
      <div class="row g-4 align-items-center">
          <div class="col-xl-4 ">
              <div class="row gy-4 gx-0">
                  <div class="col-12 my-4 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="feature-item">
                          <div class="feature-icon">
                              <span class="fa fa-trophy fa-2x"></span>
                          </div>
                          <div class="ms-4">
                              <h3 class="mb-3">First Class services</h3>
                              <p class="mb-0">Experience the difference with CarHub's First Class Services where your satisfaction is our top priority!</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 my-4 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="feature-item">
                          <div class="feature-icon">
                              <span class="fa fa-road fa-2x"></span>
                          </div>
                          <div class="ms-4">
                              <h3 class="mb-3">24/7 road assistance</h3>
                              <p class="mb-0">Enjoy seamless assistance wherever you are, with coverage across major highways and cities.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
              <img src="/Images/features-img.png" class="img-fluid w-100" style="object-fit: cover;" alt="Img">
          </div>
          <div class="col-xl-4">
              <div class="row gy-4 gx-0">
                  <div class="col-12 my-4 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="feature-item justify-content-end">
                          <div class="text-end me-4">
                              <h3 class="mb-3">Quality at Minimum</h3>
                              <p class="mb-0">you can trust that you’re getting the best value without compromising on service or safety. Experience the perfect quality and affordability with every rental!</p>
                          </div>
                          <div class="feature-icon">
                              <span class="fa fa-tag fa-2x"></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 my-4 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="feature-item justify-content-end">
                          <div class="text-end me-4">
                              <h3 class="mb-3">Free Pick-Up</h3>
                              <p class="mb-0">Experience the ease of Free Pick-Up with CarHub—because we believe that your journey should begin with convenience and care!</p>
                          </div>
                          <div class="feature-icon">
                              <span class="fa fa-map-pin fa-2x"></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 <!-- Services Start -->
 <div class="container-fluid service py-5">
  <div class="container py-5">
      <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
          <h1 class="display-5 text-capitalize mb-3">CarHub <span style="color:#00476d">Services</span></h1>
          <p class="mb-0">
            At CarHub, we are dedicated to providing a comprehensive range of services to meet all your car rental and reservation needs.
             Our goal is to ensure that every customer experiences convenience, reliability, and quality
          </p>
      </div>
      <div class="row g-4">
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item p-4">
                  <div class="service-icon mb-4">
                      <i class="fa fa-phone fa-2x" style="color: #e8eaed"></i>
                  </div>
                  <h5 class="mb-3">Phone Reservation</h5>
                  <p class="mb-0">Simply give us a call, and our friendly team will assist you in choosing the perfect vehicle for your trip, ensuring a smooth reservation process.</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item p-4">
                <div class="service-icon mb-4">
                    <i class="fa fa-car fa-2x" style="color: #e8eaed"></i>
                </div>
                <h5 class="mb-3">Diverse Fleet of Vehicles</h5>
                <p class="mb-0">Our fleet includes a wide range of vehicles from trusted brands, you can find the ideal car that matches your style and requirements.</p>
            </div>
        </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item p-4">
                  <div class="service-icon mb-4">
                      <i class="fa fa-road fa-2x" style="color: #e8eaed"></i>
                  </div>
                  <h5 class="mb-3">One Way Rental</h5>
                  <p class="mb-0">
                    Simply select your pick-up and drop-off locations during the booking process, and our friendly staff will take care of the rest.
                  </p>
              </div>
          </div>
          
      </div>
  </div>
</div>
<!-- Services End -->

